.p-link,
.p-btn {
  transition-duration: 200ms;
  @apply text-gray-300;

  &:hover {
    transform: translateY(-1px);
  }
}

.btn-primary {
  @apply bg-primary;
}

.btn-primary-outline {
  @apply text-primary bg-gray-300;

  &:hover {
    @apply bg-primary text-gray-300;
  }
}

.btn-white {
  @apply bg-gray-300 text-primary;
}

.btn-white-outline {
  @apply text-white bg-primary;

  &:hover {
    @apply bg-gray-300 text-primary;
  }
}

.btn-primary-hover {
  @apply text-primary;
  background: transparent;

  &:hover {
    @apply bg-primary text-gray-300;
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
